<div>
    <h2>Items & Loot</h2>
    <div class="card categories">
        <div class="card-header d-flex justify-content-between">
            <a href="/generators/magic-item-generator.html" class="ml-1 mr-2">Homebrew Magic Item Generator (D&D 5e)</a>
        </div>
        <div class="card-header d-flex justify-content-between">
            <a href="/generators/dnd-treasure-generator.html" class="ml-1 mr-2">Treasure Hoard Generator (D&D 5e)</a>
        </div>
        <div class="card-header d-flex justify-content-between">
            <a href="/generators/pf2e-loot-generator.html" class="ml-1 mr-2"> Loot Generator (Pathfinder 2e)</a>
        </div>
    </div>
  </div>
  
  <div>
    <h2>NPCs & Characters</h2>
    <div class="card categories">
        <div class="card-header d-flex justify-content-between">
            <a href="/generators/npc-generator.html" class="ml-1 mr-2">NPC Generator (D&D 5e)</a>
        </div>
        <div class="card-header d-flex justify-content-between">
            <a href="/generators/pf2e-npc-generator.html" class="ml-1 mr-2">NPC Generator (Pathfinder 2e)</a>
        </div>
        <div class="card-header d-flex justify-content-between">
            <a href="/generators/fantasy-name-generator.html" class="ml-1 mr-2">Fantasy Name Generator</a>
        </div>
    </div>
  </div>