<script src="https://kit.fontawesome.com/a0eaaae399.js" crossorigin="anonymous"></script>

<div>
    <h1>Social Media</h1>
    <!-- <a title="Discord" href="#" class="fa-brands fa-discord sm-button"></a> -->
    <!-- <a title="Facebook" href="#" class="fa-brands fa-facebook sm-button"></a> -->
    <a title="Instagram" href="https://www.instagram.com/ilootthebody" class="fa-brands fa-instagram sm-button"></a>
    <!-- <a title="Patreon" href="#" class="fa-brands fa-patreon sm-button"></a> -->
    <a title="Reddit" href="https://www.reddit.com/r/ilootthebody/" class="fa-brands fa-reddit sm-button"></a>
    <a title="X (Twitter)" href="https://twitter.com/ilootthebody" class="fa-brands fa-twitter sm-button"></a>
    <a title="Twitch" href="https://www.twitch.tv/ilootthebody" class="fa-brands fa-twitch sm-button"></a>
    <a title="YouTube" href="https://www.youtube.com/channel/UCgmYUiRi-VdjdjP_lT8fbAg" class="fa-brands fa-youtube sm-button"></a>
</div>
