---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */
.sm-button {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  position: relative;
  text-decoration: none;
  margin-right: 4px;
  border-radius: 10px;
}

.sm-button::before {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.sm-button:hover {
  opacity: 0.7;
  color: white;
}

.fa-discord {
  background: #7289da;
  color: white;
}

.fa-instagram {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-twitch {
  background: #6441A5;
  color: white;
}

.fa-patreon {
  background: black;
  color: white;
}

.error-text {
  color: red;
}

#name-container, #item-container {
  display: none;
}

.generator-button {
  transition-duration: 0.4s;
  background-color: #6B4A8C;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  border-radius: 10px;
  font-size: 1.25em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.generator-button:hover {
  background-color: #A979D9;
  color: white;
}

.regen-button {
  width: 20px;
  height: 20px;
  padding-left: 2px;
}

.regen-button:hover {
  cursor: pointer;
}

.display-inline-block {
  display: inline-block;
}

.smaller-text {
  font-size: .85em;
}

.item-con {
  border: double;
  text-align: center;
  margin-bottom: 1em;
  padding-left: .5em;
  padding-right: .5em;
  display: none;
}

.lds-dual-ring {
  float: left;
  width: 48px;
  height: 48px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 48px;
  height: 48px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #6B4A8C;
  border-color: #6B4A8C transparent #6B4A8C transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.item-name {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: Lato, "Microsoft Yahei", sans-serif;
  color: var(--heading-color);
}

.item-details {
  font-style: italic;
}

.item-desc {
  text-align: left;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
}

.npc-flex-container, .item-flex-container {
  display: flex;
  align-items: baseline;
}

.npc-field {
  flex: 1;
}

.collapsible {
  background-color: transparent;
  // color: white;
  cursor: pointer;
  padding: .5em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.2em;
}

.collapsible-active, .collapsible:hover {
  background-color: #6B4A8C;
  color: white;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.collapsible::before {
  content: '+';
  font-size: 1em;
  // color: white;
  float: left;
  margin-right: 1em;
}

.collapsible-active::before {
  content: "-";
  // color: white;
}

.padding-r10 {
  padding-right: 10px;
}

.no-left-pad {
  padding-left: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}