---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */
#item-container, #name-container {
  display: none;
}

.generator-button {
  transition-duration: 0.4s;
  background-color: #6B4A8C;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  border-radius: 10px;
  font-size: 1.25em;
  margin-top: 2em;
  margin-bottom: 4em;
}

.generator-button:hover {
  background-color: #A979D9;
  color: white;
}

.regen-button {
  width: 20px;
  height: 20px;
  padding-left: 2px;
}

.regen-button:hover {
  cursor: pointer;
}

.display-inline-block {
  display: inline-block;
}

.smaller-text {
  font-size: .85em;
}

.item-details {
  font-style: italic;
}

.item-desc {
  white-space: pre-wrap;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
}

.npc-flex-container {
  display: flex;
  align-items: baseline;
}

.npc-field {
  flex: 1;
}

.collapsible {
  background-color: transparent;
  // color: white;
  cursor: pointer;
  padding: .5em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.2em;
}

.collapsible-active, .collapsible:hover {
  background-color: #6B4A8C;
  color: white;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.collapsible::before {
  content: '+';
  font-size: 1em;
  // color: white;
  float: left;
  margin-right: 1em;
}

.collapsible-active::before {
  content: "-";
  // color: white;
}

.padding-r10 {
  padding-right: 10px;
}

.no-left-pad {
  padding-left: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}