---
layout: page
title: Fantasy Name Generator
---

<script src="../javascript/nameGenScripts.js"></script>

<!-- Header -->
<div>
    <p>This tool randomly generates millions of unique NPC names. I hope this helps the next time your players ask
        "What's the name of random villager number 4?"</p>
    <br>
</div>

<div class="flex-container">
    <div class="col">
        <form>
            <fieldset id="gender-checkboxes">
                <legend>Gender:</legend>
                <input type="checkbox" id="male" name="genders" value="male" checked>
                <label for="male">Male</label><br>
                <input type="checkbox" id="female" name="genders" value="female" checked>
                <label for="female">Female</label><br>
            </fieldset>
        </form>
    </div>
</div>
<br>
<!-- Number of names selector -->
<div class="w3-row w3-padding-16 centered-text">
    <label for="category">Number of names:</label>
    <select name="num_names" id="num_names">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
</div>

<!-- Button -->
<div>
    <div>
        <button class="generator-button" type="button" onclick="getName()">Generate Names</button>
    </div>
</div>
<br>
<br>
<!-- Name Container -->
<div id="name-container">

</div>

<br>

{% include social-media-links.html %}

<br>

{% include ads-horizontal-long.html %}