---
layout: page
title: Pathfinder 2e NPC Generator
---

<script src="../javascript/pf2eNpcScripts.js"></script>

<!-- Header -->
<div>
    <p>
        This generator randomly creates NPCs for Pathfinder 2e. This tool is designed
        to provide short, useful NPC descriptions with minimal fluff. The NPCs can be used
        as-is for minor characters or as a base to build a more in-depth NPC upon.
        Whether you're looking for inspiration while planning your next session or need a quick
        NPC for a game you're currently running, I hope this generator helps.
    </p>
    <p>
        Simply click the 'Generate NPC' button below to randomly create a wide variety of NPCs.
        You can click the refresh button to the right of each field to regenerate just that field
        while keeping the rest the same.
    </p>
</div>

<!-- Options -->
<div>
    <!-- Race Options -->
    <button type="button" class="collapsible">Ancestry</button>
    <div class="content">
        <div class="flex-container">
            <fieldset id="sources-fs">
                <legend>Pathfinder 2e Source Book:</legend>
                <div class="display-inline-block">
                    <input type="checkbox" id="pf2ecrb" name="sources" value="pf2ecrb"
                        onchange="toggleSourceRaces(this)"  checked>
                    <label for="pf2ecrb" class="padding-r10">Core Rulebook</label>
                </div>
                <div class="display-inline-block">
                    <input type="checkbox" id="pf2ecg" name="sources" value="pf2ecg"
                        onchange="toggleSourceRaces(this)">
                    <label for="pf2ecg" class="padding-r10">Character Guide</label>
                </div>
                <div class="display-inline-block">
                    <input type="checkbox" id="pf2eapg" name="sources" value="pf2eapg"
                        onchange="toggleSourceRaces(this)">
                    <label for="pf2eapg" class="padding-r10">Advanced Player's Guide</label>
                </div>
                <div class="display-inline-block">
                    <input type="checkbox" id="pf2eag" name="sources" value="pf2eag"
                        onchange="toggleSourceRaces(this)">
                    <label for="pf2eag" class="padding-r10">Ancestry Guide</label>
                </div>
                <div class="display-inline-block">
                    <input type="checkbox" id="pf2etme" name="sources" value="pf2etme"
                        onchange="toggleSourceRaces(this)">
                    <label for="pf2etme" class="padding-r10">The Mwangi Expanse</label>
                </div>
                <div class="display-inline-block">
                    <input type="checkbox" id="pf2egg" name="sources" value="pf2egg"
                        onchange="toggleSourceRaces(this)">
                    <label for="pf2egg" class="padding-r10">Guns & Gears</label>
                </div>
                <div class="display-inline-block">
                    <input type="checkbox" id="pf2egb" name="sources" value="pf2egb"
                        onchange="toggleSourceRaces(this)">
                    <label for="pf2egb" class="padding-r10">Grand Bazaar</label>
                </div>
                <div class="display-inline-block">
                    <input type="checkbox" id="pf2eacolo" name="sources" value="pf2eacolo"
                        onchange="toggleSourceRaces(this)">
                    <label for="pf2eacolo" class="padding-r10">Absolom, City of Lost Omens</label>
                </div>
                <div class="display-inline-block">
                    <input type="checkbox" id="pf2ebotd" name="sources" value="pf2ebotd"
                        onchange="toggleSourceRaces(this)">
                    <label for="pf2ebotd" class="padding-r10">Book of the Dead</label>
                </div>
                <div class="display-inline-block">
                    <input type="checkbox" id="pf2eda" name="sources" value="pf2eda"
                        onchange="toggleSourceRaces(this)">
                    <label for="pf2eda" class="padding-r10">Dark Archive</label>
                </div>
                <div class="display-inline-block">
                    <input type="checkbox" id="pf2eil" name="sources" value="pf2eil"
                        onchange="toggleSourceRaces(this)">
                    <label for="pf2eil" class="padding-r10">Impossible Lands</label>
                </div>
            </fieldset>
        </div>
        <div class="flex-container margin-top-10">
            <!-- Common Ancestries -->
            <div class="col no-left-pad">
                <fieldset class="no-left-pad" id="common-ancestry-fs">
                    <legend>Common:</legend>
                    <input type="checkbox" id="dwarf" name="ancestry-checkbox" value="dwarf" checked>
                    <label for="dwarf">Dwarf</label><br>
                    <input type="checkbox" id="elf" name="ancestry-checkbox" value="elf" checked>
                    <label for="elf">Elf</label><br>
                    <input type="checkbox" id="gnome" name="ancestry-checkbox" value="gnome" checked>
                    <label for="gnome">Gnome</label><br>
                    <input type="checkbox" id="goblin" name="ancestry-checkbox" value="goblin" checked>
                    <label for="goblin">Goblin</label><br>
                    <input type="checkbox" id="half-elf" name="ancestry-checkbox" value="half-elf" checked>
                    <label for="half-elf">Half-elf</label><br>
                    <input type="checkbox" id="half-orc" name="ancestry-checkbox" value="half-orc" checked>
                    <label for="half-orc">Half-orc</label><br>
                    <input type="checkbox" id="halfling" name="ancestry-checkbox" value="halfling" checked>
                    <label for="halfling">Halfling</label><br>
                    <input type="checkbox" id="human" name="ancestry-checkbox" value="human" checked>
                    <label for="human">Human</label><br>
                </fieldset>
                <input type="checkbox" id="common-ancestries-toggle" onchange="toggleCommonAncestries(this)" checked>
                <label for="common-ancestries-toggle">Select/Deselect All</label>
            </div>
            <!-- Uncommon Ancestries -->
            <div class="col no-left-pad">
                <fieldset id="uncommon-ancestry-fs">
                    <legend>Uncommon:</legend>
                    <input type="checkbox" id="azarketi" name="ancestry-checkbox" value="azarketi">
                    <label for="azarketi">Azarketi</label><br>
                    <input type="checkbox" id="catfolk" name="ancestry-checkbox" value="catfolk">
                    <label for="catfolk">Catfolk</label><br>
                    <input type="checkbox" id="fetchling" name="ancestry-checkbox" value="fetchling">
                    <label for="fetchling">Fetchling</label><br>
                    <input type="checkbox" id="gnoll" name="ancestry-checkbox" value="gnoll">
                    <label for="gnoll">Gnoll</label><br>
                    <input type="checkbox" id="grippli" name="ancestry-checkbox" value="grippli">
                    <label for="grippli">Grippli</label><br>
                    <input type="checkbox" id="hobgoblin" name="ancestry-checkbox" value="hobgoblin">
                    <label for="hobgoblin">Hobgoblin</label><br>
                    <input type="checkbox" id="kitsune" name="ancestry-checkbox" value="kitsune">
                    <label for="kitsune">Kitsune</label><br>
                    <input type="checkbox" id="kobold" name="ancestry-checkbox" value="kobold">
                    <label for="kobold">Kobold</label><br>
                    <input type="checkbox" id="leshy" name="ancestry-checkbox" value="leshy">
                    <label for="leshy">Leshy</label><br>
                    <input type="checkbox" id="lizardfolk" name="ancestry-checkbox" value="lizardfolk">
                    <label for="lizardfolk">Lizardfolk</label><br>
                    <input type="checkbox" id="nagaji" name="ancestry-checkbox" value="nagaji">
                    <label for="nagaji">Nagaji</label><br>
                    <input type="checkbox" id="orc" name="ancestry-checkbox" value="orc">
                    <label for="orc">Orc</label><br>
                    <input type="checkbox" id="ratfolk" name="ancestry-checkbox" value="ratfolk">
                    <label for="ratfolk">Ratfolk</label><br>
                    <input type="checkbox" id="tengu" name="ancestry-checkbox" value="tengu">
                    <label for="tengu">Tengu</label><br>
                    <input type="checkbox" id="vanara" name="ancestry-checkbox" value="vanara">
                    <label for="vanara">Vanara</label><br>
                </fieldset>
                <input type="checkbox" id="uncommon-ancestries-toggle" onchange="toggleUncommonAncestries(this)">
                <label for="uncommon-ancestries-toggle">Select/Deselect All</label>
            </div>
            <!-- Rare Ancestries -->
            <div class="col no-left-pad">
                <fieldset id="rare-ancestry-fs">
                    <legend>Rare:</legend>
                    <input type="checkbox" id="anadi" name="ancestry-checkbox" value="anadi">
                    <label for="anadi">Anadi</label><br>
                    <input type="checkbox" id="android" name="ancestry-checkbox" value="android">
                    <label for="android">Android</label><br>
                    <input type="checkbox" id="automaton" name="ancestry-checkbox" value="automaton">
                    <label for="automaton">Automaton</label><br>
                    <input type="checkbox" id="conrasu" name="ancestry-checkbox" value="conrasu">
                    <label for="conrasu">Conrasu</label><br>
                    <input type="checkbox" id="fleshwarp" name="ancestry-checkbox" value="fleshwarp">
                    <label for="fleshwarp">Fleshwarp</label><br>
                    <input type="checkbox" id="ghoran" name="ancestry-checkbox" value="ghoran">
                    <label for="ghoran">Ghoran</label><br>
                    <input type="checkbox" id="goloma" name="ancestry-checkbox" value="goloma">
                    <label for="goloma">Goloma</label><br>
                    <input type="checkbox" id="kashrishi" name="ancestry-checkbox" value="kashrishi">
                    <label for="kashrishi">Kashrishi</label><br>
                    <input type="checkbox" id="poppet" name="ancestry-checkbox" value="poppet">
                    <label for="poppet">Poppet</label><br>
                    <input type="checkbox" id="shisk" name="ancestry-checkbox" value="shisk">
                    <label for="shisk">Shisk</label><br>
                    <input type="checkbox" id="shoony" name="ancestry-checkbox" value="shoony">
                    <label for="shoony">Shoony</label><br>
                    <input type="checkbox" id="skeleton" name="ancestry-checkbox" value="skeleton">
                    <label for="skeleton">Skeleton</label><br>
                    <input type="checkbox" id="sprite" name="ancestry-checkbox" value="sprite">
                    <label for="sprite">Sprite</label><br>
                    <input type="checkbox" id="strix" name="ancestry-checkbox" value="strix">
                    <label for="strix">Strix</label><br>
                    <input type="checkbox" id="vishkanya" name="ancestry-checkbox" value="vishkanya">
                    <label for="vishkanya">Vishkanya</label><br>
                </fieldset>
                <input type="checkbox" id="rare-ancestries-toggle" onchange="toggleRareAncestries(this)">
                <label for="rare-ancestries-toggle">Select/Deselect All</label>
            </div>
            <!-- Versatile Ancestries -->
            <div class="col no-left-pad">
                <fieldset class="no-left-pad" id="versatile-ancestry-fs">
                    <legend>Versatile Heritages:</legend>
                    <input type="checkbox" id="aasimar" name="ancestry-checkbox" value="aasimar">
                    <label for="aasimar">Aasimar</label><br>
                    <input type="checkbox" id="aphorite" name="ancestry-checkbox" value="aphorite">
                    <label for="aphorite">Aphorite</label><br>
                    <input type="checkbox" id="beastkin" name="ancestry-checkbox" value="beastkin">
                    <label for="beastkin">Beastkin</label><br>
                    <input type="checkbox" id="changeling" name="ancestry-checkbox" value="changeling">
                    <label for="changeling">Changeling</label><br>
                    <input type="checkbox" id="dhampir" name="ancestry-checkbox" value="dhampir">
                    <label for="dhampir">Dhampir</label><br>
                    <input type="checkbox" id="duskwalker" name="ancestry-checkbox" value="duskwalker">
                    <label for="duskwalker">Duskwalker</label><br>
                    <input type="checkbox" id="ganzi" name="ancestry-checkbox" value="ganzi">
                    <label for="ganzi">Ganzi</label><br>
                    <input type="checkbox" id="ifrit" name="ancestry-checkbox" value="ifrit">
                    <label for="ifrit">Ifrit</label><br>
                    <input type="checkbox" id="oread" name="ancestry-checkbox" value="oread">
                    <label for="oread">Oread</label><br>
                    <input type="checkbox" id="reflection" name="ancestry-checkbox" value="reflection">
                    <label for="reflection">Reflection</label><br>
                    <input type="checkbox" id="suli" name="ancestry-checkbox" value="suli">
                    <label for="suli">Suli</label><br>
                    <input type="checkbox" id="sylph" name="ancestry-checkbox" value="sylph">
                    <label for="sylph">Sylph</label><br>
                    <input type="checkbox" id="tiefling" name="ancestry-checkbox" value="tiefling">
                    <label for="tiefling">Tiefling</label><br>
                    <input type="checkbox" id="undine" name="ancestry-checkbox" value="undine">
                    <label for="undine">Undine</label><br>
                </fieldset>
                <input type="checkbox" id="versatile-ancestries-toggle" onchange="toggleVersatileAncestries(this)">
                <label for="versatile-ancestries-toggle">Select/Deselect All</label>
            </div>
        </div>
    </div>
    <button type="button" class="collapsible">Gender & Age</button>
    <div class="content">
        <div class="flex-container margin-top-10">
            <div class="col no-left-pad">
                <fieldset id="gender-fs">
                    <legend>Gender</legend>
                    <input type="checkbox" id="male" name="gender-checkbox" value="male" checked>
                    <label for="male">Male</label><br>
                    <input type="checkbox" id="female" name="gender-checkbox" value="female" checked>
                    <label for="female">Female</label><br>
                    <input type="checkbox" id="non-binary" name="gender-checkbox" value="non-binary" checked>
                    <label for="non-binary">Non-binary</label><br>
                </fieldset>
            </div>
            <div class="col no-left-pad">
                <fieldset id="gender-fs">
                    <legend>Age Range</legend>
                    <input type="checkbox" id="young-adult" name="age-checkbox" value="young-adult" checked>
                    <label for="young-adult">Young Adult</label><br>
                    <input type="checkbox" id="adult" name="age-checkbox" value="adult" checked>
                    <label for="adult">Adult</label><br>
                    <input type="checkbox" id="older" name="age-checkbox" value="older" checked>
                    <label for="older">Older</label><br>
                    <input type="checkbox" id="very-old" name="age-checkbox" value="very-old" checked>
                    <label for="very-old">Very Old</label><br>
                </fieldset>
            </div>
            <div class="col no-left-pad">
                <!-- Placeholder -->
            </div>
            <div class="col no-left-pad">
                <!-- Placeholder -->
            </div>
        </div>
    </div>
</div>
<!-- End Options -->
<!-- Collapsible Menu Script -->
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("collapsible-active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

<!-- Button -->
<div>
    <div>
        <button class="generator-button" type="button" onclick="generateNPC()">Generate NPC</button>
    </div>
</div>
<br>
<!-- NPC Container -->
<div id="npc-container">
    <!-- Name -->
    <div id="npc-name-container" class="npc-flex-container">
        <h2 id="npc-name-header">Mario</h2>
        <img src="/assets/img/icons/Refresh_icon.svg.png" alt="Regenerate" class="regen-button"
            onclick="regenField('npc-name-header')" width="20px" height="20px">
    </div>
    <!-- Race -->
    <div id="npc-race-details" class="npc-flex-container">
        <p id="npc-race-text">Male human, 41 years old</p>
        <img src="/assets/img/icons/Refresh_icon.svg.png" alt="Regenerate" class="regen-button"
            onclick="regenField('npc-race-text')" width="20px" height="20px">
    </div>
    <!-- Appearance -->
    <div id="npc-appearance-details" class="npc-flex-container">
        <p>
            <b>Physical Appearance: </b>
            <span id="npc-appearance-text">Short stature, bulbous nose, moustache</span>
        </p>
        <img src="/assets/img/icons/Refresh_icon.svg.png" alt="Regenerate" class="regen-button"
            onclick="regenField('npc-appearance-text')" width="20px" height="20px">
    </div>
    <!-- Clothing -->
    <div id="npc-clothing-details" class="npc-flex-container">
        <p>
            <b>Clothing: </b>
            <span id="npc-clothing-text">Red shirt, blue overalls, red cap</span>
        </p>
        <img src="/assets/img/icons/Refresh_icon.svg.png" alt="Regenerate" class="regen-button"
            onclick="regenField('npc-clothing-text')" width="20px" height="20px">
    </div>
    <!-- Voice -->
    <div id="npc-voice-details" class="npc-flex-container">
        <p>
            <b>Voice & Speech: </b>
            <span id="npc-voice-text">Stereotypical Italian accent</span>
        </p>
        <img src="/assets/img/icons/Refresh_icon.svg.png" alt="Regenerate" class="regen-button"
            onclick="regenField('npc-voice-text')" width="20px" height="20px">
    </div>
    <!-- Personality -->
    <div id="npc-personality-details" class="npc-flex-container">
        <p>
            <b>Personality & Behavior: </b>
            <span id="npc-personality-text">Mario is determined and loyal to a fault</span>
        </p>
        <img src="/assets/img/icons/Refresh_icon.svg.png" alt="Regenerate" class="regen-button"
            onclick="regenField('npc-personality-text')" width="20px" height="20px">
    </div>
    <!-- Profession -->
    <div id="npc-profession-details" class="npc-flex-container">
        <p>
            <b>Profession: </b>
            <span id="npc-profession-text">Mario is a legendary plumber.</span>
        </p>
        <img src="/assets/img/icons/Refresh_icon.svg.png" alt="Regenerate" class="regen-button"
            onclick="regenField('npc-profession-text')" width="20px" height="20px">
    </div>
    <!-- Motivation -->
    <div id="npc-motivation-details" class="npc-flex-container">
        <p>
            <b>Motivation: </b>
            <span id="npc-motivation-text">Mario seeks to free Princess Peach from the castle.</span>
        </p>
        <img src="/assets/img/icons/Refresh_icon.svg.png" alt="Regenerate" class="regen-button"
            onclick="regenField('npc-motivation-text')" width="20px" height="20px">
    </div>
</div>

<br>

{% include social-media-links.html %}

<br>

{% include ads-horizontal-long.html %}

<div>
    <h1>About the NPC Generator</h1>
    <p>
        This generator creates an NPC by randomly selecting from a number of databases to assemble the various
        characteristics that make up the NPC. The information is presented in what I think is the most useful order for
        a GM running a game. First comes the NPC’s name, race, and age for quick reference. The rest of the information
        is arranged according to what the players would usually notice first about the NPC. Physical appearance and
        clothing come first followed by the NPC’s voice. The NPC’s personality comes next with their profession and
        motivations bringing up the rear. More details about the generation process can be found below.
    </p>
    <p>
        The generator starts by selecting a gender and name for the NPC. The gender options are male, female, and
        non-binary. There is a 45% chance of selecting male, 45% chance of selecting female, and 10% chance of selecting
        non-binary. The NPC’s name is generated based on the selected gender, pulling from lists of male and female
        names (non-binary names are pulled from both lists). The vast majority of the names used in this generator were
        pulled from <a href="https://en.wiktionary.org/wiki/Category:English_names">Wiktionary’s lists of English
            names</a>.
    </p>
    <p>
        Next, the generator selects a race and age for the NPC. Currently, the list of races includes all available
        races in the core D&D 5e rulebooks. I will be expanding this range in the future as well as implementing an
        option to select/deselect the races you want to include in the generation. Each race has a maximum age value
        assigned based on information given in the D&D 5e source material for that race. The generator calculates a
        random value between 16 and the race’s maximum age to determine the age for that particular NPC.
    </p>
    <p>
        The NPC’s physical appearance and clothing are generated next. Physical appearance is described using three
        traits: stature, hair, and an identifying feature (i.e. athletic build, short blonde hair, a scar on their
        face). The description of the NPC’s clothing is broken up into three parts as well: a descriptive adjective, the
        outfit itself, and an additional accessory (i.e. dirty overalls with a wool cap). I think that together these
        fields paint a fairly detailed picture of a character without getting too wordy.
    </p>
    <p>
        Personality is generated next. The NPC’s personality consists of two parts: a trait and a behavior or quirk. The
        trait is a broad description of the character’s personality such as “friendly” or “stoic.” The behavior is meant
        to provide some additional color to the NPC’s personality and give you as a GM some more guidance on how the NPC
        may behave when interacting with the players. Examples of behaviors include “likes animals more than people” and
        “is a bit bossy.”
    </p>
    <p>
        Finally, the NPC’s profession and current motivation are generated. The profession is selected from a long list
        of professions that are mostly themed around a fantasy/medieval era society. The profession is then paired with
        a word to describe roughly how good the NPC is at their chosen profession. For example, a character could be
        described as a “legendary plumber” or a “failing blacksmith.” The NPC’s motivation is simply selected from a
        list of simple motivations. This is not the NPC’s only motivation in life, but can serve as guidance for what
        this particular character may be seeking at this point in time.
    </p>
    <p>
        Wherever possible I've done my best to make these characteristics as system and setting agnostic as I can,
        though I did use D&D 5e as a starting point so many of the descriptions are focused around typical high fantasy.
        I have plans to add an option to select specific environments/genres (space, nautical, western, etc.) to give
        you the ability to generate more specific NPCs.
    </p>
</div>

{% include ads-horizontal-long.html %}